.select{
  appearance: none;
  background-color: transparent;
  border: 1.4px solid #9CA3AF;
  padding: 12px 16px;
  margin: 0;
  width: 100%;
  color: #4b5563;
  border-radius: 6px;  
}

.select option{
    padding-top: 10px;
}


